.MergeContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-width: 1200px;
  width: 100%;
}

.MergeTitleContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.MergeToggleButtons {
  background: #675B5B !important;
}

.MergeToggleButton {
  padding: 1rem !important;
}

.MergeTitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.MergeActions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.MergeActionsButton {
  height: 42px;
}

.MergeActionsFiltersContainer {
  background: rgba(251, 239, 223, 0.5);
  border-radius: 5px;
  height: 53px;
  padding: .25rem;
  width: 200px;
}

.ElixirNftsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
}

.NoElixirNftMessage {
  color: #a99b9b;
  font-weight: 600;
  font-style: italic;
  width: 100%;
}

.ElixirNftsSpinnerContainer {
  align-items: center;
  display: flex;
  height: 200px;
  width: 100%;
}

.TokensContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-width: 1200px;
  width: 100%;
}

.TokensHeaderContainer {
  align-items: center;
  background: #675B5B;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  padding: 1rem;
  width: 100%;
}

.TokensHeaderToken,
.TokensHeaderBalance {
  font-size: 1.15rem;
  font-weight: 600;
  width: 28%;
}

.TokensHeaderTotalSupply {
  font-size: 1.15rem;
  font-weight: 600;
  width: 30%;
}

.TokensItemContainer {
  align-items: center;
  background: #6B5B46;
  border-radius: 10px;
  display: flex;
  padding: 1rem;
  width: 100%;
}

.TokensItemTokenContainer,
.TokensItemBalanceContainer {
  align-items: center;
  display: flex;
  gap: .5rem;
  width: 28%;
}

.TokensItemTokenImg {
  width: 25px;
}

.TokensItemTotalSupplyContainer {
  align-items: center;
  display: flex;
  gap: .5rem;
  width: 30%;
}

.TokensAddTokenContainer {
  align-items: center;
  display: flex;
  width: 14%;
}

.TokensAddTokenButton {
  align-items: center !important;
  display: flex !important;
  gap: .35rem;
  text-transform: none !important;
}

.TokensAddTokenImg {
  width: 21px;
}

.TokensItemMobileContainer {
  align-items: center;
  background: #6B5B46;
  border-radius: 10px;
  display: none;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.TokensItemMobileTokenImg {
  width: 2rem;
}

.TokensItemInfoMobileContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1180px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 640px) {
  .TokensHeaderContainer,
  .TokensItemContainer {
    display: none;
  }

  .TokensItemMobileContainer {
    display: flex;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
