.SplitContainer {
  align-items: flex-start;
  background: #675B5B;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.35);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 2rem;
}

.SplitLabel {
  font-weight: 600;
}

.SplitFormContainer {
  align-items: center;
  display: flex;
  gap: .5rem;
}

.SplitFormControl {
  background: rgba(251, 239, 223, 0.5);
  border-radius: 12px;
  width: 150px;
}

.SplitActions {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
}