.HomePageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 80px 120px;
}

.LaunchAppContainer {
  align-items: center;
  display: none;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1180px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 640px) {
  .LaunchAppContainer {
    display: flex;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
